.container-fluid {
    padding: 30px;
}

nav {
    background-color: black;
}


/* HEADER */

.header {
    background-color: black;
    width: 100%;
    padding: 10px;
}

.navbar {
    margin-bottom: 0;
}


/* FOOTER */

footer {
    border: 0 !important;
    clear: both;
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 1px 0 0 0;
    background-color: rgb(63, 63, 63);
    padding: 20px;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.foot-row {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.foot-col i {
    font-size: 24px;
    color: #008B8B;
}


/* ANIMACION */

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}