.top {
    background-image: url(../../media/img/bg-contact-page.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    padding: 0 !important;
}

.info {
    width: 100%;
}

.h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.cont {
    max-width: 1200px;
    padding: 150px 15px 5px 15px;
    margin: 0 auto;
}

.mid {
    max-width: 1200px;
    padding: 70px 20px 90px 20px;
    margin: auto;
}

.ht {
    padding-bottom: 100px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.ha {
    font-size: 12px;
    max-width: 1200px;
    margin: auto;
}

.con-p {
    color: #777777;
    padding: 0;
}

.con-a {
    color: black;
}

.con-a:hover {
    text-decoration: none;
    color: red;
}

.form-control {
    line-height: inherit;
    border-radius: 0px !important;
    width: 95%;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    border-color: rgba(0, 0, 0, 0.15);
}

.form {
    padding: 40px 0 60px 0;
}

:placeholder-shown {
    font-size: 13px;
}

.btn {
    border-radius: 0;
    width: 15%;
    font-size: 13px;
    background-color: #262626;
    padding: 15px;
}

.info h5 {
    font-size: 15px;
}

.info p {
    font-size: 13px;
}

.info2 {
    margin-bottom: 10px;
}

.info2 p {
    font-size: 13px;
}

.hr {
    padding: 0;
}

.material-icons {
    font-size: 25px;
    color: rgb(63, 63, 63);
}

.social {
    padding: 10px 0;
}

.social i {
    font-size: 20px;
    margin-right: 25px;
}

.social i:hover {
    color: black;
}

.contacto nav i::before {
    display: none;
}
nav {
    background-color: black;
}